{
  "presets": ["env", "react"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    ["transform-imports", {
      "@nio/ui-kit": {
        "transform": "@nio/ui-kit/dist/components/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
