export default {
  auth0: {
    app_requires_login: false,
    webAuth: {
      domain: '',
      clientID: '',
      audience: '',
      responseType: '',
      redirectUri: `${window.location.origin}?authorize=true`,
      leeway: 60,
      __disableExpirationCheck: true,
    },
  },
};
