@import '~@nio/ui-kit/dist/nio';
@import '~font-awesome/css/font-awesome.min.css';
@import './css/vars';
@import './css/base';

/*    place your app-specific css below (or make component/view   */
/*    specific scss files and throw them in the css folder)       */


#pkConfig {
  min-width:304px;

  #pkDetails {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .pkAction {
    padding: 8px 20px;
  }
}

#demo_output{
  border: 1px solid #e6e9ee;
  height: 150px;
  border-radius: 4px;
  overflow-y: auto;
}
