$white: #fefefe;
$black: #252f31;
$gray-dark: #354042;
$gray: #6a7578;
$gray-light: #9daab1;
$gray-lighter: #ced4da;
$gray-lightest: #e6e9ee;
$gray-background: #f2f4f8;

$blue:   #3cafda;
$green:  #55c58f;
$teal:   #37c0c9;
$orange: #f3bc27;
$red:    #dd3b4c;
$purple: #507ccd;

$brand-primary: $blue;
$brand-success: $green;
$brand-info: $teal;
$brand-warning: $orange;
$brand-danger: $red;
$brand-inverse: $black;
